.itemContainer {
  display: flex;
  padding: 10px;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
}
.nameContainer {
  margin-left: 20px;
}
.name {
  font-size: large;
  font-weight: bold;
}
.amount {
  font: bold;
  margin-top: 10px;
}
